@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

:root{
    --primary-color: hsl(202, 100%, 44%);
    --secondary-color: orange;
    --bg-color: rgb(215, 226, 228);
    --icon-size: 1.25rem;
    --shadow-color: hsl(0, 0%, 0%,0.25);
    font-family: 'Roboto', sans-serif;    
}

.icon::before{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    font-size: var(--icon-size);
    margin-right: 0.5em;
}

body{
    height: 100vh;
    margin: 0;
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: minmax(min-content,300px) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "nav header"
        "nav feed";
}

nav{
    grid-area: nav;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    gap:0.75em;
    flex-direction: column;
    padding-block: 1rem;
    padding-left: 2rem;

}

.logo{
    font-size: 2rem;
    font-weight: 900;
    margin-block: 0.5em 1em;
}

.logo::before{
    font-size: 1em;
    content: "\f58e";   
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}

nav ul{
    padding: 0;
}

ul{
    margin-block: 0;
}

nav li{
    margin-block: 0.75em;
    list-style: none;
}

#home a::before{
    content:'\f015';
}
#profile a::before{
    content:'\f2c2';
}
#messages a::before{
    content:'\f086';
}
#history a::before{
    content:'\f1da';
}
#tasks a::before{
    content:'\f0ae';
}
#community a::before{
    content:'\f0a1';
}
#settings a::before{
    content:'\f7d9';
}
#support a::before{
    content:'\f590';
}
#privacy a::before{
    content:'\f084';
}

/* Header */

header{
    grid-area: header;
    background-color: white;
    box-shadow: 0px 0px 10px var(--shadow-color);
}

header ul{
    padding: 0;
}

header li{
    display: inline;
}

header a{
    text-decoration: none;
    color: black;
    font-weight: 900;
}

header .line1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 3rem;
    gap: 2em;
}

header span[for='generalSearch']{
    flex: 1;
}

header span[for='generalSearch']::before{
    content: '\f002';
    vertical-align: middle;
}

#generalSearch{
    width: calc(100% - calc(var(--icon-size)*1.5));
    background-color: var(--bg-color);
    border: none;
    border-radius: 25px;
    padding: 0.75em 1em;
    font-size: 1rem;
}

#generalSearch:focus{
    outline: none;
}

.line1 ul{
    display: flex;
    gap: 1em;
    align-items: center;
}

.line1 #dP{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

header .line2{
    display: flex;
    align-items: center;
    margin: 1rem 3rem;
}

header .line2 h1{
    margin: 0;
    margin-left: 1rem;
    font-size: 1rem;
    flex: 1;
}

header .line2 h1 span{
    display: block;
    font-size: 1.5rem;
}

header .line2 img{
    content: '';
    background-image: url(https://i.pinimg.com/474x/31/4f/2a/314f2a1f891f259d70d75b603616827a.jpg);
    background-color: red;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-size: contain;
}

header .line2 li a{
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5em 2em;
    border-radius: 1em;
}

header .line2 li:nth-of-type(2){
    margin-inline: 1em;
}

/* feed */

.feed{
    grid-area: feed;
    display: grid;
    grid-template-columns: 1fr minmax(min-content, 300px);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
    padding: 1rem 1rem 2rem 1rem;
}

.feed h2{
    font-size: 1.25rem;
}

/* projects */

#projects{
    grid-area: projects;
}

#projects .cardGrid{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#projects .card{
    background-color: white;
    flex: 1 1 300px;
    border-radius: 10px;
    border-left: 7.5px solid var(--secondary-color);
    padding: 2rem 1rem;
}

#projects .card :is(h3,p){
    margin-block: 0;
}

#projects .card p{
    color: darkslategrey;   
}

#projects .card ul{
    padding: 0;
    margin-top: 2rem;
    text-align: right;
}

#projects .card li{
    display: inline-block;
}

#projects .card li:nth-of-type(2){
    margin-inline: 1rem;
}

#projects .card a{
    color: black;
}

#projects .card a:hover{
    color: var(--primary-color);
}

/* ANNOUNCEMENTS */

.feed #announcements{
    grid-area: announcements;
}

/* TRENDING */

.feed #trending{
    grid-area: trending;
}

